ion-img{
    height: 200px;
    width: 200px;
    display: block;
    padding-top: 10px;
    margin: auto;
}

ion-list{
    padding: 30px;
}

p{
    color: #0FD4F0;
    font-size: 1rem;
}